div#workflow-results.card

  div.card-header.pb-0

    h3.inline Results

    button.btn.btn-outline-collapse(data-toggle="collapse" data-target="#collapse-results" data-hook="collapse-results-btn") -

  div.collapse.show(id="collapse-results" data-hook="workflow-results")

    div.card-body

      div.collapse(id="edit-plot-args" data-hook="edit-plot-args")

        table.table
          thead
            tr
              th(scope="col") Title
              th(scope="col") X-axis Label
              th(scope="col") Y-axis Label

          tbody
            tr
              td: div(id="title" data-hook="title")
              td: div(id="xaxis" data-hook="xaxis")
              td: div(id="yaxis" data-hook="yaxis")

      div.card

        div.card-header.pb-0

          h5.inline Plot Mean and Standard Deviation

          button.btn.btn-outline-collapse(
            data-toggle="collapse"
            data-target="#collapse-stddevrange"
            id="collapse-stddevrange-btn"
            data-hook="collapse-stddevrange-btn"
            data-trigger="collapse-plot-container"
            data-type="stddevran"
          ) -

        div.collapse.show(id="collapse-stddevrange")

          div.card-body

            div(data-hook="stddevran-plot")

            div.spinner-border.workflow-plot(data-hook="stddevran-plot-spinner")
            
            button.btn.btn-primary.box-shadow(data-hook="stddevran-edit-plot" data-target="edit-plot" disabled) Edit Plot

            button.btn.btn-primary.box-shadow(
              data-hook="stddevran-download-png-custom"
              data-target="download-png-custom"
              data-type="stddevran"
              disabled
            ) Download PNG

            button.btn.btn-primary.box-shadow(
              data-hook="stddevran-download-json"
              data-target="download-json"
              data-type="stddevran"
              disabled
            ) Download JSON

            button.btn.btn-primary.box-shadow(
              data-hook="stddevran-plot-csv"
              data-target="download-plot-csv"
              data-type="stddevran"
              disabled
            ) Download Plot Results as .csv

      div.card

        div.card-header.pb-0

          h5.inline Plot Trajectories

          button.btn.btn-outline-collapse(
            data-toggle="collapse"
            data-target="#collapse-trajectories"
            id="collapse-trajectories-btn"
            data-hook="collapse-trajectories-btn"
            data-trigger="collapse-plot-container"
            data-type="trajectories"
          ) +

        div.collapse(id="collapse-trajectories")

          div.card-body

            div(data-hook="trajectories-plot")

            div.spinner-border.workflow-plot(data-hook="trajectories-plot-spinner")

            button.btn.btn-primary.box-shadow(data-hook="trajectories-edit-plot" data-target="edit-plot" disabled) Edit Plot

            button.btn.btn-primary.box-shadow(data-hook="multiple-plots", data-type="mltplplt" disabled) Multiple Plots

            button.btn.btn-primary.box-shadow(
              data-hook="trajectories-download-png-custom"
              data-target="download-png-custom"
              data-type="trajectories"
              disabled
            ) Download PNG

            button.btn.btn-primary.box-shadow(
              data-hook="trajectories-download-json"
              data-target="download-json"
              data-type="trajectories"
              disabled
            ) Download JSON

            button.btn.btn-primary.box-shadow(
              data-hook="trajectories-plot-csv"
              data-target="download-plot-csv"
              data-type="trajectories"
              disabled
            ) Download Plot Results as .csv

      div.card

        div.card-header.pb-0

          h5.inline Plot Standard Deviation

          button.btn.btn-outline-collapse(
            data-toggle="collapse"
            data-target="#collapse-stddev"
            id="collapse-stddev-btn"
            data-hook="collapse-stddev-btn"
            data-trigger="collapse-plot-container"
            data-type="stddev"
          ) +

        div.collapse(id="collapse-stddev")

          div.card-body

            div(data-hook="stddev-plot")

            div.spinner-border.workflow-plot(data-hook="stddev-plot-spinner")

            button.btn.btn-primary.box-shadow(data-hook="stddev-edit-plot" data-target="edit-plot" disabled) Edit Plot

            button.btn.btn-primary.box-shadow(
              data-hook="stddev-download-png-custom"
              data-target="download-png-custom"
              data-type="stddev"
              disabled
            ) Download PNG

            button.btn.btn-primary.box-shadow(
              data-hook="stddev-download-json"
              data-target="download-json"
              data-type="stddev"
              disabled
            ) Download JSON

            button.btn.btn-primary.box-shadow(
              data-hook="stddev-plot-csv"
              data-target="download-plot-csv"
              data-type="stddev"
              disabled
            ) Download Plot Results as .csv

      div.card

        div.card-header.pb-0

          h5.inline Plot Trajectory Mean

          button.btn.btn-outline-collapse(
            data-toggle="collapse"
            data-target="#collapse-trajmean"
            id="collapse-trajmean-btn"
            data-hook="collapse-trajmean-btn"
            data-trigger="collapse-plot-container"
            data-type="avg"
          ) +

        div.collapse(id="collapse-trajmean")

          div.card-body

            div(data-hook="avg-plot")

            div.spinner-border.workflow-plot(data-hook="avg-plot-spinner")

            button.btn.btn-primary.box-shadow(data-hook="avg-edit-plot" data-target="edit-plot" disabled) Edit Plot

            button.btn.btn-primary.box-shadow(
              data-hook="avg-download-png-custom"
              data-target="download-png-custom"
              data-type="avg"
              disabled
            ) Download PNG

            button.btn.btn-primary.box-shadow(
              data-hook="avg-download-json"
              data-target="download-json"
              data-type="avg"
              disabled
            ) Download JSON

            button.btn.btn-primary.box-shadow(
              data-hook="avg-plot-csv"
              data-target="download-plot-csv"
              data-type="avg"
              disabled
            ) Download Plot Results as .csv

      div

        button.btn.btn-primary.box-shadow(id="convert-to-notebook" data-hook="convert-to-notebook") Convert to Notebook

        button.btn.btn-primary.box-shadow(id="download-results-csv" data-hook="download-results-csv") Download Full Results as .csv

        button.btn.btn-primary.box-shadow(id="job-presentation" data-hook="job-presentation") Publish

        div.saving-status(data-hook="job-action-start")

          div.spinner-grow

          span Publishing ...

        div.saved-status(data-hook="job-action-end")

          span Published

        div.save-error-status(data-hook="job-action-err")

          span Error

      div.text-info(data-hook="update-format-message" style="display: none;")
        | To publish you job the workflows format must be updated.
