div.mx-1

  if(this.model.collection.indexOf(this.model) !== 0)
    hr

  div.row

    div.col-sm-1

      div.pl-3

        input(type="checkbox" data-hook="select-action" data-toggle="collapse" data-target="#collapse-action-details" + this.model.cid)

    div.col-sm-4

      div(data-hook="select-type-container")

    div.col-sm-3

      div.pl-2(data-hook="input-priority-container" data-target="update-preview-plot")

    div.col-sm-2

      input(type="checkbox" data-hook="enable-action")

    div.col-sm-2

      button.btn.btn-outline-secondary.box-shadow(data-hook="remove") X

  div-mx-1.pl-2(data-hook="action-details")

    div.collapse(id="collapse-action-details" + this.model.cid)

      hr

      div

        div.mb-3.mx-1.row.align-items-baseline

          div.col-sm-4.pl-0.hidden(data-hook="action-scope")

            h5.inline.mr-2 Scope:

            div.inline(data-hook="select-scope-container")

          div.col-sm-4.hidden(data-hook="multi-particle-shape")

            h5.inline.mr-2 Shape:

            div.inline(data-hook="shape-container")

          div.col-sm-4.hidden(data-hook="multi-particle-transformation")

            h5.inline.mr-2 Transformation:

            div.inline(data-hook="transformation-container")

      div.hidden(data-hook="single-particle-scope")

        div

          h5.inline.mr-2 Current Location:

          div.inline.mr-2 (x:

          div.inline.ml-2(data-hook="point-x-container" data-target="point" data-name="x" style="width: 25%")

          div.inline.mr-2 ,  y:

          div.inline.ml-2(data-hook="point-y-container" data-target="point" data-name="y" style="width: 25%")

          div.inline.mr-2 ,  z:

          div.inline.ml-2(data-hook="point-z-container" data-target="point" data-name="z" style="width: 25%")

          div.inline )

        div.hidden(data-hook="new-location")

          h5.inline.mr-2 New Location:

          div.inline.mr-2 (x:

          div.inline.ml-2(data-hook="new-point-x-container" data-target="new-point" data-name="x" style="width: 25%")

          div.inline.mr-2 ,  y:

          div.inline.ml-2(data-hook="new-point-y-container" data-target="new-point" data-name="y" style="width: 25%")

          div.inline.mr-2 ,  z:

          div.inline.ml-2(data-hook="new-point-z-container" data-target="new-point" data-name="z" style="width: 25%")

          div.inline )

      div.hidden(data-hook="particle-properties")

        h4 Particle Properties

        div

          h5.inline.mr-2 Type:

          div.inline(data-hook="particle-type")

        div

          hr

          div.mb-3.mx-1.row.head.align-items-baseline

            div.col-sm-2

              h6.inline <b>Mass</b>

            div.col-sm-2

              h6.inline <b>Volume</b>

            div.col-sm-2

              h6.inline <b>Density</b>

            div.col-sm-2

              h6.inline <b>Viscosity</b>

            div.col-sm-2

              h6.inline <b>Speed of Sound</b>

            div.col-sm-2

              h6.inline <b>Fixed</b>

          div.row

            div.col-sm-2

              div.pl-2(data-hook="particle-mass" data-target="particle-property-containers")

            div.col-sm-2

              div(data-hook="particle-vol" data-target="particle-property-containers")

            div.col-sm-2

              div(data-hook="particle-rho" data-target="particle-property-containers")

            div.col-sm-2

              div(data-hook="particle-nu" data-target="particle-property-containers")

            div.col-sm-2

              div(data-hook="particle-c" data-target="particle-property-containers")

            div.col-sm-2

              input(type="checkbox" data-hook="particle-fixed" checked=this.model.fixed)

      div.accordion.hidden(id="import-properties" + this.model.cid data-hook="import-properties")

        div.card

          div.card-header(id="importFilesHeader" + this.model.cid)

            h3.mb-0.inline="Import Files"

            button.btn.btn-outline-collapse.collapsed.inline(type="button" data-toggle="collapse" data-target="#collapseImportFiles" + this.model.cid data-hook="collapseImportFiles" aria-expanded="false" aria-controls="collapseImportFiles" style="float: right") 

              div(data-hook="import-chevron")

                svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 512 512")

                  path(d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z")

          div.collapse(id="collapseImportFiles" + this.model.cid aria-labelledby="importFilesHeader" + this.model.cid data-parent="#import-properties" + this.model.cid)

            div.card-body

              div.my-3

                span.inline(data-hook="meshfile-label" for="meshfile")=`Please specify a ${this.filetype} to import: `

                input.ml-2(id="meshfile" data-hook="mesh-file" type="file" name="meshfile" size="30" accept=this.accept required)

              div.mb-3

                span.inline(for=typefile) Type descriptions (optional):

                input.ml-2(id="typefile" data-hook="type-file" type="file" name="typefile" size="30" accept=".txt")

              div.inline

                button.btn.btn-outline-primary.box-shadow(data-hook="import-mesh-file" disabled style="text-transform: capitalize;")=`Import ${this.filetype}`

              div.mdl-edit-btn.saving-status.inline(data-hook="imf-in-progress")

                div.spinner-grow.mr-2

                span Importing mesh ...

              div.mdl-edit-btn.saved-status.inline(data-hook="imf-complete")

                span

              div.mdl-edit-btn.save-error-status(data-hook="imf-error")

                span(data-hook="imf-action-error")

        div.card

          div.card-header(id="uploadedFilesHeader" + this.model.cid)

            h3.mb-0.inline="Uploaded Files"

            button.btn.btn-outline-collapse.collapsed.inline(type="button" data-toggle="collapse" data-target="#collapseUploadedFiles" + this.model.cid data-hook="collapseUploadedFiles" aria-expanded="false" aria-controls="collapseUploadedFiles" style="float: right")

              div(data-hook="uploaded-chevron")

                svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 512 512")

                  path(d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z")

          div.collapse(id="collapseUploadedFiles" + this.model.cid aria-labelledby="uploadedFilesHeader" + this.model.cid data-parent="#import-properties" + this.model.cid)

            div.card-body

              div

                div.hidden.text-info(data-hook="mesh-location-message")=`There are multiple ${this.filetype} files with that name, please select a location`

                div

                  div.inline.mr-3

                    span.inline(data-hook="action-filename-label" for="action-filename-select")=`Please specify a ${this.filetype} to import: `

                    div.inline(id="action-filename-select" data-hook="action-mesh-select")

                  div.hidden.inline(data-hook="mesh-location-container")

                    span.inline.mr-2(for="mesh-location-select") Location:

                    div.inline(id="mesh-location-select" data-hook="mesh-location-select")

              div.hidden(data-hook="type-descriptions-prop")

                div.hidden.text-info(data-hook="types-location-message")
                  | There are multiple type files with that name, please select a location

                div

                  div.inline.mr-3

                    span.inline(for=action-types-types-select) Type descriptions (optional):

                    div.inline(id="action-types-select" data-hook="action-type-select")

                  div.hidden.inline(data-hook="types-location-container")

                    span.inline.mr-2(for="file-location-select") Location:

                    div.inline(id="types-location-select" data-hook="type-location-select")
