div.mx-1

  if(this.model.collection.indexOf(this.model) !== 1)
    hr

  div.row

    div.col-sm-1

      div.pl-3

        input(type="checkbox" data-hook="select" data-toggle="collapse" data-target="#collapse-type-details" + this.model.typeID)

    div.col-sm-3

      div(data-hook="type-name" data-target=this.model.typeID)

    div.col-sm-3

      div=this.model.numParticles

    div.col-sm-3

      button.btn.btn-outline-secondary.box-shadow(data-type=this.model.typeID data-hook='unassign-all') Un-Assign Particles

    div.col-sm-2

      button.btn.btn-outline-secondary.box-shadow.dropdown-toggle(
        id="delete-domain-type",
        data-toggle="dropdown",
        aria-haspopup="true",
        aria-expanded="false",
        type="button"
      ) Delete <span class="caret"></span>

      ul.dropdown-menu(aria-labelledby="delete-domain-type")
        li.dropdown-item(data-hook="delete-type" data-type=this.model.typeID) Type
        li.dropdown-item(data-hook="delete-all" data-type=this.model.typeID) Type and Particles

  div-mx-1.pl-2(data-hook="type-details")

    div.collapse(id="collapse-type-details" + this.model.typeID)

      hr

      div.mb-3.mx-1.row.head.align-items-baseline

        div.col-sm-2

          h6.inline <b>Mass</b>

        div.col-sm-2

          h6.inline <b>Volume</b>

        div.col-sm-2

          h6.inline <b>Density</b>

        div.col-sm-2

          h6.inline <b>Viscosity</b>

        div.col-sm-2

          h6.inline <b>Speed of Sound</b>

        div.col-sm-2

          h6.inline <b>Fixed</b>

      div.row

        div.col-sm-2

          div(data-hook="td-mass" data-target="type-defaults")

        div.col-sm-2

          div(data-hook="td-vol" data-target="type-defaults")

        div.col-sm-2

          div(data-hook="td-rho" data-target="type-defaults")

        div.col-sm-2

          div(data-hook="td-nu" data-target="type-defaults")

        div.col-sm-2

          div(data-hook="td-c" data-target="type-defaults")

        div.col-sm-2

          input(type="checkbox" data-hook="td-fixed")

      hr

      div.row.align-items-baseline

        div.col-sm-10.align-items-baseline

          h6.inline.mr-3 <b>Geometry</b>:

          div.inline(style="width: 80%")

            div(id="type-geometry" data-hook="type-geometry")

        div.col-sm-2

          button.btn.btn-outline-secondary.box-shadow(data-hook="apply-geometry") Apply

      div.mdl-edit-btn.saving-status.inline(data-hook="tg-in-progress-" + this.model.typeID)

        div.spinner-grow.mr-2

        span Applying type to particles ...

      div.mdl-edit-btn.saved-status.inline(data-hook="tg-complete-" + this.model.typeID)

        span Type successfully applied

      div.mdl-edit-btn.save-error-status(data-hook="tg-error-" + this.model.typeID)

        span(data-hook="tg-action-error-" + this.model.typeID)
