div#domain-geometries-editor.card

  div.card-header.pb-0

    h3.inline.mr-3 Geometries

    div.inline.mr-3

      ul.nav.nav-tabs.card-header-tabs(id="geometries-section-tabs")

        li.nav-item

          a.nav-link.tab.active(data-hook="geometries-edit-tab" data-toggle="tab" href="#edit-geometries") Edit

        li.nav-item

          a.nav-link.tab(data-hook="geometries-view-tab" data-toggle="tab" href="#view-geometries") View

    button.btn.btn-outline-collapse.inline(data-toggle="collapse" data-target="#collapse-geometries" data-hook="collapse") +

  div.card-body
    p.mb-0
     | Geometries define a region within the domain or a lattice in which particles are restricted to.

    div.collapse.tab-content(id="collapse-geometries" data-hook="geometries-list-container")

      div.tab-pane.active(id="edit-geometries" data-hook="edit-geometries")

        hr

        div.mb-3.mx-1.row.head.align-items-baseline

          div.col-sm-2

            h6.inline <b>Name</b>

            div.tooltip-icon.mr-3(data-html="true" data-toggle="tooltip" title=this.tooltips.name) <sup><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info" class="svg-inline--fa fa-info fa-w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path fill="currentColor" d="M20 424.229h20V279.771H20c-11.046 0-20-8.954-20-20V212c0-11.046 8.954-20 20-20h112c11.046 0 20 8.954 20 20v212.229h20c11.046 0 20 8.954 20 20V492c0 11.046-8.954 20-20 20H20c-11.046 0-20-8.954-20-20v-47.771c0-11.046 8.954-20 20-20zM96 0C56.235 0 24 32.235 24 72s32.235 72 72 72 72-32.235 72-72S135.764 0 96 0z"></path></svg></sup>

          div.col-sm-2

            h6.inline <b>Type</b>

          div.col-sm-6

            h6.inline <b>Formula</b>

            div.tooltip-icon.mr-3(data-html="true" data-toggle="tooltip" title=this.tooltips.geometry) <sup><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info" class="svg-inline--fa fa-info fa-w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path fill="currentColor" d="M20 424.229h20V279.771H20c-11.046 0-20-8.954-20-20V212c0-11.046 8.954-20 20-20h112c11.046 0 20 8.954 20 20v212.229h20c11.046 0 20 8.954 20 20V492c0 11.046-8.954 20-20 20H20c-11.046 0-20-8.954-20-20v-47.771c0-11.046 8.954-20 20-20zM96 0C56.235 0 24 32.235 24 72s32.235 72 72 72 72-32.235 72-72S135.764 0 96 0z"></path></svg></sup>

          div.col-sm-2

            h6.inline <b>Remove</b>

        div.my-3(data-hook="edit-geometries-list")

        div.dropdown

          button.btn.btn-outline-primary.dropdown-toggle.box-shadow#addGeometryBtn(
            data-hook="add-geometry",
            data-toggle="dropdown",
            aria-haspopup="true",
            aria-expanded="false",
            type="button"
          ) Add Geometry <span class="caret"></span>

          ul.dropdown-menu(aria-labelledby="addGeometryBtn")
            li.dropdown-item(data-hook="standard-geometry" data-name="Standard Geometry") Standard Geometry
            li.dropdown-item(data-hook="combinatory-geometry" data-name="Combinatory Geometry") Combinatory Geometry

      div.tab-pane(id="view-geometries" data-hook="view-geometries")

        hr

        div.mx-1.row.head.align-items-baseline

          div.col-sm-2: h6 <b>Name</b>

          div.col-sm-2: h6 <b>Type</b>

          div.col-sm-8: h6 <b>Formula</b>

        div.mt-3(data-hook="view-geometries-list")
