div#domain-lattices-editor.card

  div.card-header.pb-0

    h3.inline.mr-3 Lattices

    div.inline.mr-3

      ul.nav.nav-tabs.card-header-tabs(id="lattices-selection-tabs")

        li.nav-item

          a.nav-link.tab.active(data-hook="lattices-edit-tab" data-toggle="tab" href="#edit-lattices") Edit

        li.nav-item

          a.nav-link.tab(data-hook="lattices-view-tab" data-toggle="tab" href="#view-lattices") View

    button.btn.btn-outline-collapse.inline(data-toggle="collapse" data-target="#collapse-lattices" data-hook="collapse") +

  div.card-body

    p.mb-0
     | Lattices define a region within the domain in which particles are restricted to.

    div.collapse.tab-content(id="collapse-lattices" data-hook="lattices-list-container")

      div.tab-pane.active(id="edit-lattices" data-hook="edit-lattices")

        hr

        div.mb-3.mx-1.row.head.align-items-baseline

          div.col-sm-1

            h6.inline <b>Edit</b>

          div.col-sm-2

            h6.inline <b>Name</b>

            div.tooltip-icon.mr-3(data-html="true" data-toggle="tooltip" title=this.tooltips.name) <sup><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info" class="svg-inline--fa fa-info fa-w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path fill="currentColor" d="M20 424.229h20V279.771H20c-11.046 0-20-8.954-20-20V212c0-11.046 8.954-20 20-20h112c11.046 0 20 8.954 20 20v212.229h20c11.046 0 20 8.954 20 20V492c0 11.046-8.954 20-20 20H20c-11.046 0-20-8.954-20-20v-47.771c0-11.046 8.954-20 20-20zM96 0C56.235 0 24 32.235 24 72s32.235 72 72 72 72-32.235 72-72S135.764 0 96 0z"></path></svg></sup>

          div.col-sm-2

            h6.inline <b>Type</b>

          div.col-sm-5

            h6.inline <b>Center</b>

          div.col-sm-2

            h6.inline <b>Remove</b>

        div.my-3(data-hook="edit-lattices-list")

        div.dropdown

          button.btn.btn-outline-primary.dropdown-toggle.box-shadow#addLatticeBtn(
            data-hook="add-lattice",
            data-toggle="dropdown",
            aria-haspopup="true",
            aria-expanded="false",
            type="button"
          ) Add Lattice <span class="caret"></span>

          ul.dropdown-menu(aria-labelledby="addLatticeBtn")
            li.dropdown-item(data-hook="cartesian-lattice" data-name="Cartesian Lattice") Cartesian Lattice
            li.dropdown-item(data-hook="spherical-lattice" data-name="Spherical Lattice") Spherical Lattice
            li.dropdown-item(data-hook="cylindrical-lattice" data-name="Cylindrical Lattice") Cylindrical Lattice
            li.dropdown-item(data-hook="xml-mesh-lattice" data-name="XML Mesh Lattice") XML Mesh Lattice
            li.dropdown-item(data-hook="meshio-lattice" data-name="Mesh IO Lattice") Mesh IO Lattice
            li.dropdown-item(data-hook="stochss-lattice" data-name="StochSS Lattice") StochSS Lattice

      div.tab-pane(id="view-lattices" data-hook="view-lattices")

        hr

        div.mx-1.row.head.align-items-baseline

          div.col-sm-2: h6 <b>Name</b>

          div.col-sm-2: h6 <b>Type</b>

          div.col-sm-2: h6 <b>Details</b>

        div.mt-3(data-hook="view-lattices-list")
