div#domain-geometries-editor.card

  div.card-header.pb-0

    h3.inline.mr-3 Shapes

    div.inline.mr-3

      ul.nav.nav-tabs.card-header-tabs(id="shapes-section-tabs")

        li.nav-item

          a.nav-link.tab.active(data-hook="shapes-edit-tab" data-toggle="tab" href="#edit-shapes") Edit

        li.nav-item

          a.nav-link.tab(data-hook="shapes-view-tab" data-toggle="tab" href="#view-shapes") View

    button.btn.btn-outline-collapse.inline(data-toggle="collapse" data-target="#collapse-shapes" data-hook="collapse") +

  div.card-body
    p.mb-0
     | Shapes to define regions in space.  Formulas define a boolean expression that evaluates as True when inside the region of space, False otherwise.

    ul.mb-0
      li Formulas for <b>'Standard Geometry'</b> are in terms of the variables <b>'x'</b>, <b>'y'</b>, and <b>'z'</b>.
      li Formulas for <b>'Combinatory Geometry'</b> are in terms of other <b>'Shapes'</b>.

    div.collapse.tab-content(id="collapse-shapes" data-hook="shapes-list-container")

      div.tab-pane.active(id="edit-shapes" data-hook="edit-shapes")

        hr

        div.mb-3.mx-1.row.head.align-items-baseline

          div.col-sm-1

            h6.inline <b>Edit</b>

          div.col-sm-2

            h6.inline <b>Name</b>

            div.tooltip-icon.mr-3(data-html="true" data-toggle="tooltip" title=this.tooltips.name) <sup><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info" class="svg-inline--fa fa-info fa-w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path fill="currentColor" d="M20 424.229h20V279.771H20c-11.046 0-20-8.954-20-20V212c0-11.046 8.954-20 20-20h112c11.046 0 20 8.954 20 20v212.229h20c11.046 0 20 8.954 20 20V492c0 11.046-8.954 20-20 20H20c-11.046 0-20-8.954-20-20v-47.771c0-11.046 8.954-20 20-20zM96 0C56.235 0 24 32.235 24 72s32.235 72 72 72 72-32.235 72-72S135.764 0 96 0z"></path></svg></sup>

          div.col-sm-2

            h6.inline <b>Geometry</b>

          div.col-sm-4

            h6.inline <b>Formula</b>

            div.tooltip-icon.mr-3(data-html="true" data-toggle="tooltip" title=this.tooltips.geometry) <sup><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info" class="svg-inline--fa fa-info fa-w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path fill="currentColor" d="M20 424.229h20V279.771H20c-11.046 0-20-8.954-20-20V212c0-11.046 8.954-20 20-20h112c11.046 0 20 8.954 20 20v212.229h20c11.046 0 20 8.954 20 20V492c0 11.046-8.954 20-20 20H20c-11.046 0-20-8.954-20-20v-47.771c0-11.046 8.954-20 20-20zM96 0C56.235 0 24 32.235 24 72s32.235 72 72 72 72-32.235 72-72S135.764 0 96 0z"></path></svg></sup>

          div.col-sm-1

            h6.inline <b>Fillable</b>

          div.col-sm-2

            h6.inline <b>Remove</b>

        div.my-3(data-hook="edit-shapes-list")

        div.dropdown

          button.btn.btn-outline-primary.dropdown-toggle.box-shadow#addShapeBtn(
            data-hook="add-shape",
            data-toggle="dropdown",
            aria-haspopup="true",
            aria-expanded="false",
            type="button"
          ) Add Shape <span class="caret"></span>

          ul.dropdown-menu(aria-labelledby="addShapeBtn")
            li.dropdown-item(data-hook="cartesian-lattice" data-name="Cartesian Lattice") Cartesian Lattice
            li.dropdown-item(data-hook="spherical-lattice" data-name="Spherical Lattice") Spherical Lattice
            li.dropdown-item(data-hook="cylindrical-lattice" data-name="Cylindrical Lattice") Cylindrical Lattice

      div.tab-pane(id="view-shapes" data-hook="view-shapes")

        hr

        div.mx-1.row.head.align-items-baseline

          div.col-sm-2: h6 <b>Name</b>

          div.col-sm-2: h6 <b>Geometry</b>

          div.col-sm-7: h6 <b>Formula</b>

          div.col-sm-1: h6 <b>Fillable</b>

        div.mt-3(data-hook="view-shapes-list")
