div.mx-1

  if(this.model.collection.indexOf(this.model) !== 0)
    hr

  div.row

    div.col-sm-4

      div.pl-2=this.model.name

    div.col-sm-4

      div=this.model.type

    div.col-sm-4

      div=this.model.transformation ? this.model.transformation : 'None'

  div.hidden(data-hook="vector-transformation-props")

    hr

    div.mx-1.row.head.align-items-baseline

      div.col-sm-9

        h6 <b>Vector</b>

      div.col-sm-3.hidden(data-hook="rotation-angle-header")

        h6 <b>Angle</b> (deg)

    div.mx-1.mt-3.row

      div.col-sm-9

        div.inline

          span.inline [(x:

          div.ml-2.inline=this.model.vector[0].x

          span.inline.mr-2 , y:

          div.ml-2.inline=this.model.vector[0].y

          span.inline.mr-2 , z:

          div.ml-2.inline=this.model.vector[0].z

          span.inline ),

        div.pl-2.inline

          span.inline (x:

          div.ml-2.inline=this.model.vector[1].x

          span.inline.mr-2 , y:

          div.ml-2.inline=this.model.vector[1].y

          span.inline.mr-2 , z:

          div.ml-2.inline=this.model.vector[1].z

          span.inline )]

      div.col-sm-3.hidden(data-hook="rotation-angle-prop")

        div=this.model.angle

  div.hidden(data-hook="reflect-transformation-props")

    hr

    div.mx-1.my-3.row.head.align-items-baseline

      div.col-sm-4

        h6 <b>Point 1</b>

      div.col-sm-4.hidden(data-hook="view-normal-header")

        h6 <b>Normal</b>

      div.col-sm-4.hidden(data-hook="view-point2-header")

        h6 <b>Point 2</b>

      div.col-sm-4.hidden(data-hook="view-point3-header")

        h6 <b>Point 3</b>

    div.mx-1.my-3.row.align-items-baseline

      div.col-sm-4

        div

          span.inline (x:

          div.inline=this.model.point1.x

          span.inline.mr-2 , y:

          div.inline=this.model.point1.y

          span.inline.mr-2 , z:

          div.inline=this.model.point1.z

          span.inline )

      div.col-sm-4.hidden(data-hook="view-reflect-normal")

        div

          span.inline (x:

          div.inline=this.model.normal.x

          span.inline.mr-2 , y:

          div.inline=this.model.normal.y

          span.inline.mr-2 , z:

          div.inline=this.model.normal.z

          span.inline )

      div.col-sm-4.hidden(data-hook="view-reflect-point2")

        div

          span.inline (x:

          div.inline=this.model.point2.x

          span.inline.mr-2 , y:

          div.inline=this.model.point2.y

          span.inline.mr-2 , z:

          div.inline=this.model.point2.z

          span.inline )

      div.col-sm-4.hidden(data-hook="view-reflect-point3")

        div

          span.inline (x:

          div.inline=this.model.point3.x

          span.inline.mr-2 , y:

          div.inline=this.model.point3.y

          span.inline.mr-2 , z:

          div.inline=this.model.point3.z

          span.inline )

  div.hidden(data-hook="scale-transformation-props")

    div.mt-3

      div.mx-1.row.head.align-items-baseline

        div.col-sm-3

          h6 <b>Factor</b>

        div.col-sm-9

          h6 <b>Center</b>

      div.mx-1.mt-3.row

        div.col-sm-3

          div=this.model.factor

        div.col-sm-9

          div

            span.inline (x:

            div.ml-2.inline=this.model.center.x

            span.inline.mr-2 , y:

            div.ml-2.inline=this.model.center.y

            span.inline.mr-2 , z:

            div.ml-2.inline=this.model.center.z

            span.inline )
