div#inference-settings.card

  div.card-header.pb-0

    h3.inline.mr-3 Inference Settings

    div.inline.mr-3

      ul.nav.nav-tabs.card-header-tabs(id="inference-settings-tabs")

        li.nav-item

          a.nav-link.tab.active(data-hook=this.model.elementID + "-inference-settings-edit-tab" data-toggle="tab" href="#" + this.model.elementID + "-edit-inference-settings") Edit

        li.nav-item

          a.nav-link.tab(data-hook=this.model.elementID + "-inference-settings-view-tab" data-toggle="tab" href="#" + this.model.elementID + "-view-inference-settings") View

    button.btn.btn-outline-collapse(data-toggle="collapse" data-target="#" + this.model.elementID + "collapse-inference-settings" data-hook="collapse") -

  div.collapse(class="show" id=this.model.elementID + "collapse-inference-settings")

    div.card-body.tab-content

      div.tab-pane.active(id=this.model.elementID + "-edit-inference-settings" data-hook=this.model.elementID + "-edit-inference-settings")

        div(data-hook="edit-parameter-space-container")

      div.tab-pane(id=this.model.elementID + "-view-inference-settings" data-hook=this.model.elementID + "-view-inference-settings")

        div(data-hook="view-parameter-space-container")
