div#preview-settings.card

  div.card-header.pb-0

    h3.inline.mr-3 Timespan

    div.inline.mr-3

      ul.nav.nav-tabs.card-header-tabs(id="timespan-tabs")

        li.nav-item

          a.nav-link.tab.active(data-hook=this.model.elementID + "-timespan-edit-tab" data-toggle="tab" href="#" + this.model.elementID + "-edit-timespan") Edit

        li.nav-item

          a.nav-link.tab(data-hook=this.model.elementID + "-timespan-view-tab" data-toggle="tab" href="#" + this.model.elementID + "-view-timespan") View

    button.btn.btn-outline-collapse(data-toggle="collapse" data-target="#" + this.model.elementID + "collapse-preview-settings" data-hook="collapse") -

  div.card-body

    p.mb-0
      | Timespan settings are used for the preview and all workflows created using this model.

    div.collapse.tab-content(class="show" id=this.model.elementID + "collapse-preview-settings" data-hook="timespan-container")

      div.tab-pane.active(id=this.model.elementID + "-edit-timespan" data-hook=this.model.elementID + "-edit-timespan")

        hr

        div.mx-1.row.head.align-items-baseline

          div.col-sm-3

            h6 <b>Simulation Time</b>

          div.col-sm-3

            h6.inline <b>Sample Frequency</b>

            div.tooltip-icon(data-html="true" data-toggle="tooltip" title=this.tooltips.timeUnits) <sup><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info" class="svg-inline--fa fa-info fa-w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path fill="currentColor" d="M20 424.229h20V279.771H20c-11.046 0-20-8.954-20-20V212c0-11.046 8.954-20 20-20h112c11.046 0 20 8.954 20 20v212.229h20c11.046 0 20 8.954 20 20V492c0 11.046-8.954 20-20 20H20c-11.046 0-20-8.954-20-20v-47.771c0-11.046 8.954-20 20-20zM96 0C56.235 0 24 32.235 24 72s32.235 72 72 72 72-32.235 72-72S135.764 0 96 0z"></path></svg></sup>

          div.col-sm-6

            if this.isSpatial
              h6 <b>Timestep Size</b>

        div.mx-1.my-3.row

          div.col-sm-3(data-hook="preview-time")

          div.col-sm-3(data-hook="time-units")

          div.col-sm-6.hidden(data-hook="timestep-size-container")

            div

              div.row

                div.col-sm-1
                  
                  span.inline 1

                div.col-sm-8

                  span.mr-2.inline Current Value: 

                  div.inline(data-hook="timestep-size-value")

                div.col-sm-3.d-flex.justify-content-end

                  span.inline 1e-5

              input.custom-range(
                type="range"
                min="0"
                max="5"
                step="1"
                value=this.tssValue
                data-hook="timestep-size-slider"
              )

            div(data-hook="timestep-size-error")

              p.text-danger <b>'Timestep Size'</b> can't be greater than <b>'Sample Frequency'</b>.

      div.tab-pane(id=this.model.elementID + "-view-timespan" data-hook=this.model.elementID + "-view-timespan")

        hr

        div.mx-1.row.head.align-items-baseline

          div.col-sm-3

            h6 <b>Simulation Time</b>

          div.col-sm-3

            h6 <b>Sample Frequency</b>

          div.col-sm-3

            if this.isSpatial
              h6 <b>Timestep Size</b>

        div.mx-1.my-3.row

          div.col-sm-3(data-hook="view-end-sim")="0 to " + this.model.endSim

          div.col-sm-3(data-hook="view-time-step")=this.model.timeStep

          if this.isSpatial
            div.col-sm-6(data-hook="view-timestep-size")=this.model.timestepSize
            

