div#simulation-settings.card

  div.card-header.pb-0

    h3.inline.mr-3 Simulation Settings
    
    div.inline.mr-3

      ul.nav.nav-tabs.card-header-tabs(id="sim-settings-tabs")

        li.nav-item

          a.nav-link.tab.active(data-hook=this.model.elementID + "-sim-settings-edit-tab" data-toggle="tab" href="#" + this.model.elementID + "-edit-sim-settings") Edit

        li.nav-item

          a.nav-link.tab(data-hook=this.model.elementID + "-sim-settings-view-tab" data-toggle="tab" href="#" + this.model.elementID + "-view-sim-settings") View

    button.btn.btn-outline-collapse(data-toggle="collapse" data-target="#" + this.model.elementID + "collapse-settings", data-hook="collapse-settings-view") -

  div.card-body

    p.mb-0
      | Consider the following when selecting an algorithm for your job.  If you would like StochSS to choose the algorithm, select <b>Choose for me</b>.

    ul.mb-0
      li Algorithms <b>ODE</b>, <b>CLE</b>, and <b>Hybrid ODE/SSA</b> work best to simulate models with a mode of <b>Concentration</b>.
      li Algorithns <b>SSA</b>, <b>Tau Leaping</b>, and <b>Hybrid ODE/SSA</b> work best to simulate models with a mode of <b>Population</b>.
      li Algorithm <b>Hybrid ODE/SSA</b> is required if the model contains advanced components.

    div.collapse.tab-content(class="show" id=this.model.elementID + "collapse-settings")

      div.tab-pane.active(id=this.model.elementID + "-edit-sim-settings" data-hook=this.model.elementID + "-edit-sim-settings")

        hr

        div.mx-1.head.align-items-baseline

          h4.inline Simulation Algorithm

          div.tooltip-icon(data-html="true" data-toggle="tooltip" title=this.tooltips.algorithm) <sup><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info" class="svg-inline--fa fa-info fa-w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path fill="currentColor" d="M20 424.229h20V279.771H20c-11.046 0-20-8.954-20-20V212c0-11.046 8.954-20 20-20h112c11.046 0 20 8.954 20 20v212.229h20c11.046 0 20 8.954 20 20V492c0 11.046-8.954 20-20 20H20c-11.046 0-20-8.954-20-20v-47.771c0-11.046 8.954-20 20-20zM96 0C56.235 0 24 32.235 24 72s32.235 72 72 72 72-32.235 72-72S135.764 0 96 0z"></path></svg></sup>

        div.row.my-3

          div.col-sm-3

            input.pl-2.mr-2.inline(type="radio", name="simAlgorithm", data-hook="select-ode", data-name="ODE")
            
            span.inline ODE

            div.inline.tooltip-icon(data-html="true" data-toggle="tooltip" title=this.tooltips.ode) <sup><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info" class="svg-inline--fa fa-info fa-w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path fill="currentColor" d="M20 424.229h20V279.771H20c-11.046 0-20-8.954-20-20V212c0-11.046 8.954-20 20-20h112c11.046 0 20 8.954 20 20v212.229h20c11.046 0 20 8.954 20 20V492c0 11.046-8.954 20-20 20H20c-11.046 0-20-8.954-20-20v-47.771c0-11.046 8.954-20 20-20zM96 0C56.235 0 24 32.235 24 72s32.235 72 72 72 72-32.235 72-72S135.764 0 96 0z"></path></svg></sup>

          div.col-sm-3

            input.mr-2.inline(type="radio", name="simAlgorithm", data-hook="select-cle", data-name="CLE")

            span.inline CLE

            div.tooltip-icon(data-html="true" data-toggle="tooltip" title=this.tooltips.cle) <sup><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info" class="svg-inline--fa fa-info fa-w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path fill="currentColor" d="M20 424.229h20V279.771H20c-11.046 0-20-8.954-20-20V212c0-11.046 8.954-20 20-20h112c11.046 0 20 8.954 20 20v212.229h20c11.046 0 20 8.954 20 20V492c0 11.046-8.954 20-20 20H20c-11.046 0-20-8.954-20-20v-47.771c0-11.046 8.954-20 20-20zM96 0C56.235 0 24 32.235 24 72s32.235 72 72 72 72-32.235 72-72S135.764 0 96 0z"></path></svg></sup>

          div.col-sm-3

            input.mr-2.inline(type="radio", name="simAlgorithm", data-hook="select-hybrid-tau", data-name="Hybrid-Tau-Leaping")

            span.inline Hybrid ODE/SSA

            div.tooltip-icon(data-html="true" data-toggle="tooltip" title=this.tooltips.hybrid) <sup><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info" class="svg-inline--fa fa-info fa-w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path fill="currentColor" d="M20 424.229h20V279.771H20c-11.046 0-20-8.954-20-20V212c0-11.046 8.954-20 20-20h112c11.046 0 20 8.954 20 20v212.229h20c11.046 0 20 8.954 20 20V492c0 11.046-8.954 20-20 20H20c-11.046 0-20-8.954-20-20v-47.771c0-11.046 8.954-20 20-20zM96 0C56.235 0 24 32.235 24 72s32.235 72 72 72 72-32.235 72-72S135.764 0 96 0z"></path></svg></sup>

        div.row

          div.col-sm-3

            input.mr-2.inline(type="radio", name="simAlgorithm", data-hook="select-ssa", data-name="SSA")

            span.inline SSA

            div.tooltip-icon(data-html="true" data-toggle="tooltip" title=this.tooltips.ssa) <sup><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info" class="svg-inline--fa fa-info fa-w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path fill="currentColor" d="M20 424.229h20V279.771H20c-11.046 0-20-8.954-20-20V212c0-11.046 8.954-20 20-20h112c11.046 0 20 8.954 20 20v212.229h20c11.046 0 20 8.954 20 20V492c0 11.046-8.954 20-20 20H20c-11.046 0-20-8.954-20-20v-47.771c0-11.046 8.954-20 20-20zM96 0C56.235 0 24 32.235 24 72s32.235 72 72 72 72-32.235 72-72S135.764 0 96 0z"></path></svg></sup>

          div.col-sm-3

            input.mr-2.inline(type="radio", name="simAlgorithm", data-hook="select-tau-leaping", data-name="Tau-Leaping")

            span.inline Tau Leaping

            div.tooltip-icon(data-html="true" data-toggle="tooltip" title=this.tooltips.tauLeaping) <sup><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info" class="svg-inline--fa fa-info fa-w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path fill="currentColor" d="M20 424.229h20V279.771H20c-11.046 0-20-8.954-20-20V212c0-11.046 8.954-20 20-20h112c11.046 0 20 8.954 20 20v212.229h20c11.046 0 20 8.954 20 20V492c0 11.046-8.954 20-20 20H20c-11.046 0-20-8.954-20-20v-47.771c0-11.046 8.954-20 20-20zM96 0C56.235 0 24 32.235 24 72s32.235 72 72 72 72-32.235 72-72S135.764 0 96 0z"></path></svg></sup>

          div.col-sm-3

            input.mr-2.inline(type="radio", name="simAlgorithm", data-hook="select-automatic", data-name="Automatic")

            span.inline Choose for me

            div.tooltip-icon(data-html="true" data-toggle="tooltip" title=this.tooltips.chooseForMe) <sup><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info" class="svg-inline--fa fa-info fa-w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path fill="currentColor" d="M20 424.229h20V279.771H20c-11.046 0-20-8.954-20-20V212c0-11.046 8.954-20 20-20h112c11.046 0 20 8.954 20 20v212.229h20c11.046 0 20 8.954 20 20V492c0 11.046-8.954 20-20 20H20c-11.046 0-20-8.954-20-20v-47.771c0-11.046 8.954-20 20-20zM96 0C56.235 0 24 32.235 24 72s32.235 72 72 72 72-32.235 72-72S135.764 0 96 0z"></path></svg></sup>
          
        div.pt-2.row.collapse.show(data-hook="settings-container")

          div.col-sm-5

            h5.inline Deterministic Settings

            hr.mt-0

            div.mx-1.row.head.align-items-baseline

              div.col-sm-6

                h6.inline <b>Relative Tolerance</b>

                div.tooltip-icon(data-html="true" data-toggle="tooltip" title=this.tooltips.rtol) <sup><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info" class="svg-inline--fa fa-info fa-w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path fill="currentColor" d="M20 424.229h20V279.771H20c-11.046 0-20-8.954-20-20V212c0-11.046 8.954-20 20-20h112c11.046 0 20 8.954 20 20v212.229h20c11.046 0 20 8.954 20 20V492c0 11.046-8.954 20-20 20H20c-11.046 0-20-8.954-20-20v-47.771c0-11.046 8.954-20 20-20zM96 0C56.235 0 24 32.235 24 72s32.235 72 72 72 72-32.235 72-72S135.764 0 96 0z"></path></svg></sup>

              div.col-sm-6

                h6.inline <b>Absolute Tolerance</b>

                div.tooltip-icon(data-html="true" data-toggle="tooltip" title=this.tooltips.atol) <sup><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info" class="svg-inline--fa fa-info fa-w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path fill="currentColor" d="M20 424.229h20V279.771H20c-11.046 0-20-8.954-20-20V212c0-11.046 8.954-20 20-20h112c11.046 0 20 8.954 20 20v212.229h20c11.046 0 20 8.954 20 20V492c0 11.046-8.954 20-20 20H20c-11.046 0-20-8.954-20-20v-47.771c0-11.046 8.954-20 20-20zM96 0C56.235 0 24 32.235 24 72s32.235 72 72 72 72-32.235 72-72S135.764 0 96 0z"></path></svg></sup>

            div.row.my-3

              div.col-sm-6

                div.pl-2(data-hook="relative-tolerance")

              div.col-sm-6(data-hook="absolute-tolerance")

          div.col-sm-7
            
            h5.inline Stochastic Settings

            hr.mt-0

            div.mx-1.row.head.align-items-baseline

              dvi.col-sm-4

                h6.inline <b>Trajectories</b>

                div.tooltip-icon(data-html="true" data-toggle="tooltip" title=this.tooltips.realizations) <sup><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info" class="svg-inline--fa fa-info fa-w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path fill="currentColor" d="M20 424.229h20V279.771H20c-11.046 0-20-8.954-20-20V212c0-11.046 8.954-20 20-20h112c11.046 0 20 8.954 20 20v212.229h20c11.046 0 20 8.954 20 20V492c0 11.046-8.954 20-20 20H20c-11.046 0-20-8.954-20-20v-47.771c0-11.046 8.954-20 20-20zM96 0C56.235 0 24 32.235 24 72s32.235 72 72 72 72-32.235 72-72S135.764 0 96 0z"></path></svg></sup>

              dvi.col-sm-4

                h6.inline <b>Seed</b>

                div.tooltip-icon(data-html="true" data-toggle="tooltip" title=this.tooltips.seed) <sup><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info" class="svg-inline--fa fa-info fa-w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path fill="currentColor" d="M20 424.229h20V279.771H20c-11.046 0-20-8.954-20-20V212c0-11.046 8.954-20 20-20h112c11.046 0 20 8.954 20 20v212.229h20c11.046 0 20 8.954 20 20V492c0 11.046-8.954 20-20 20H20c-11.046 0-20-8.954-20-20v-47.771c0-11.046 8.954-20 20-20zM96 0C56.235 0 24 32.235 24 72s32.235 72 72 72 72-32.235 72-72S135.764 0 96 0z"></path></svg></sup>

              dvi.col-sm-4

                h6.inline <b>Tau Tolerance</b>

                div.tooltip-icon(data-html="true" data-toggle="tooltip" title=this.tooltips.ttol) <sup><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info" class="svg-inline--fa fa-info fa-w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path fill="currentColor" d="M20 424.229h20V279.771H20c-11.046 0-20-8.954-20-20V212c0-11.046 8.954-20 20-20h112c11.046 0 20 8.954 20 20v212.229h20c11.046 0 20 8.954 20 20V492c0 11.046-8.954 20-20 20H20c-11.046 0-20-8.954-20-20v-47.771c0-11.046 8.954-20 20-20zM96 0C56.235 0 24 32.235 24 72s32.235 72 72 72 72-32.235 72-72S135.764 0 96 0z"></path></svg></sup>

            div.row.my-3

              div.col-sm-4(data-hook="trajectories")

              div.col-sm-4(data-hook="seed")

              div.col-sm-4(data-hook="tau-tolerance")

      div.tab-pane(id=this.model.elementID + "-view-sim-settings" data-hook=this.model.elementID + "-view-sim-settings")

        hr

        div

          h6.inline.pr-2 Simulation Algorithm: 

          div.inline(data-hook="view-algorithm")

        div(data-hook="view-deterministic-settings")

          hr

          h5 Deterministic Settings

          hr

          div.row

            div.col-sm-6

              h6.inline.pr-2 Relative Tolerance: 

              div.inline(data-hook="view-r-tol")=this.model.relativeTol

            div.col-sm-6

              h6.inline.pr-2 Absolute Tolerance: 

              div.inline(data-hook="view-a-tol")=this.model.absoluteTol

        div(data-hook="view-stochastic-settings")

          hr

          h5 Stochastic Settings

          hr

          div.row

            div.col-sm-4

              h6.inline.pr-2 Trajectories: 

              div.inline(data-hook="view-realizations")=this.model.realizations

            div.col-sm-4

              h6.inline.pr-2 Seed: 

              div.inline(data-hook="view-seed")=this.model.seed

            div.col-sm-4(data-hook="view-tau-tolerance")

              h6.inline.pr-2 Tau Tolerance: 

              div.inline(data-hook="view-tau-tol")=this.model.tauTol

