section.page

  div: h2.inline Domain Editor

  div.pl-3.py-2.mb-1.text-warning(data-hook="spatial-beta-message" style="background-color: #e9ecef")

    h5
      | WARNING: Spatial modeling is currently a beta feature, 
      | please feel free to experiment and send us your feedback
      | <a href="https://github.com/StochSS/stochss/issues">HERE</a>

  div(data-hook="two-parent-breadcrumb-links" style="display: none")
    h5
      nav(aria-label="breadcrumb")
        ol.breadcrumb
          li.breadcrumb-item
            a.active-link(data-hook="grandparent-breadcrumb") Grandparent
          li.breadcrumb-item
            a.active-link(data-hook="parent-two-breadcrumb") Parent

  div(data-hook="one-parent-breadcrumb-links" style="display: none")
    h5
      nav(aria-label="breadcrumb")
        ol.breadcrumb
          li.breadcrumb-item
            a.active-link(data-hook="parent-one-breadcrumb") Parent

  div.card.card-body

    div

      h3.inline Properties

      button.btn.btn-outline-collapse(data-toggle="collapse", data-target="#domain-properties", data-hook="collapse-domain-properties") -

    div.collapse.show(id="domain-properties" data-hook="domain-properties")

      table.table
        thead
          tr
            th(scope="col") Static Domain
            th(scope="col") Density
            th(scope="col") Gravity
            th(scope="col")
              div
                div.inline Pressure

                div.tooltip-icon(data-html="true" data-toggle="tooltip" title=this.tooltips.pressure) <sup><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info" class="svg-inline--fa fa-info fa-w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path fill="currentColor" d="M20 424.229h20V279.771H20c-11.046 0-20-8.954-20-20V212c0-11.046 8.954-20 20-20h112c11.046 0 20 8.954 20 20v212.229h20c11.046 0 20 8.954 20 20V492c0 11.046-8.954 20-20 20H20c-11.046 0-20-8.954-20-20v-47.771c0-11.046 8.954-20 20-20zM96 0C56.235 0 24 32.235 24 72s32.235 72 72 72 72-32.235 72-72S135.764 0 96 0z"></path></svg></sup>

            th(scope="col")
              div
                div.inline Speed of Sound

                div.tooltip-icon(data-html="true" data-toggle="tooltip" title=this.tooltips.speed) <sup><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info" class="svg-inline--fa fa-info fa-w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path fill="currentColor" d="M20 424.229h20V279.771H20c-11.046 0-20-8.954-20-20V212c0-11.046 8.954-20 20-20h112c11.046 0 20 8.954 20 20v212.229h20c11.046 0 20 8.954 20 20V492c0 11.046-8.954 20-20 20H20c-11.046 0-20-8.954-20-20v-47.771c0-11.046 8.954-20 20-20zM96 0C56.235 0 24 32.235 24 72s32.235 72 72 72 72-32.235 72-72S135.764 0 96 0z"></path></svg></sup>

        tbody
          tr
            td: input(type="checkbox", id="static-domain", data-hook="static-domain")
            td: div(data-hook="density")
            td
              div(data-target="gravity" data-hook="gravity-x")
              div(data-target="gravity" data-hook="gravity-y")
              div(data-target="gravity" data-hook="gravity-z")
            td: div(data-hook="pressure")
            td: div(data-hook="speed")

      h4 Domain Limits

      table.table
        thead
          tr
            th(scope="col")
            th(scope="col") X-Axis
            th(scope="col") Y-Axis
            th(scope="col") Z-Axis

        tbody
          tr
            th(scope="row") Minimum
            td: div(data-hook="x_lim-min" data-name="limitation")
            td: div(data-hook="y_lim-min" data-name="limitation")
            td: div(data-hook="z_lim-min" data-name="limitation")
          tr
            th(scope="row") Maximum
            td: div(data-hook="x_lim-max" data-name="limitation")
            td: div(data-hook="y_lim-max" data-name="limitation")
            td: div(data-hook="z_lim-max" data-name="limitation")
          tr
            th(scope="row") Reflect
            td: input(type="checkbox", id="x-reflect", data-hook="reflect_x" data-target="reflect" disabled)
            td: input(type="checkbox", id="y-reflect", data-hook="reflect_y" data-target="reflect" disabled)
            td: input(type="checkbox", id="z-reflect", data-hook="reflect_z" data-target="reflect" disabled)

  div.card.card-body

    div

      h3.inline Types

      button.btn.btn-outline-collapse(data-toggle="collapse", data-target="#domain-types", data-hook="collapse-domain-types") -

    div.collapse.show(id="domain-types" data-hook="domain-types")

      div

        h6(data-hook="unassigned-particles")

        div(data-hook="domain-error"): p.text-danger A domain cannot have any un-assigned particles.

      table.table
        thead
          tr
            th(scope="col") Name
            th(scope="col") Number of Particles
            th(scope="col" colspan="4") Defaults
        
        tbody(data-hook="domain-types-list")

      button.btn.btn-outline-primary.box-shadow(data-hook="add-domain-type") Add Type

      div.card.card-body(data-hook="edit-defaults" style="display: none")

        h4(data-hook="set-type-defaults-header")

        table.table
          thead
            tr
              th(scope="col") Mass
              th(scope="col") Volume
              th(scope="col") Viscosity
              th(scope="col") Fixed

          tbody
            tr
              td: div(data-hook="td-mass")
              td: div(data-hook="td-vol")
              td: div(data-hook="td-nu")
              td: input(type="checkbox" data-hook="td-fixed")

        button.btn.btn-outline-primary.box-shadow(data-hook="set-type-defaults") Submit
  
  div.card.card-body

    div

      h3.inline Particles

      button.btn.btn-outline-collapse(data-toggle="collapse", data-target="#domain-particles", data-hook="collapse-domain-particle") -

    div.collapse.show(id="domain-particles" data-hook="domain-particles")

      ul.nav.nav-tabs

        li.nav-item

          a.nav-link.tab.active(data-toggle="tab" href="#new-particle") Create New

        li.nav-item

          a.nav-link.tab(data-toggle="tab" href="#edit-particle") Edit Selected

        li.nav-item

          a.nav-link.tab(data-toggle="tab" href="#set-particle-types") Set Particle Types

        li.nav-item

          a.nav-link.tab(data-toggle="tab" href="#add-3d-domain") Create 3D Domain

        li.nav-item

          a.nav-link.tab(data-toggle="tab" href="#import-particles") Import Mesh

      div.tab-content

        div.tab-pane.active(id="new-particle" data-hook="new-particle")

        div.tab-pane(id="edit-particle" data-hook="edit-particle")

        div.tab-pane(id="add-3d-domain" data-hook="add-3d-domain")

        div.tab-pane(id="set-particle-types" data-hook="set-particle-types")

          div.card.card-body

            div.my-3

              div.text-info(data-hook="type-location-message" style="display: none")
                | There are multiple type files with that name, please select a location

              div.inline.mr-3

                span.inline.mr-2(for="types-file-select") Select type description file:

                div.inline(id="types-file-select" data-hook="types-file-select")

              div.inline(data-hook="type-location-container" style="display: none")

                span.inlinemr-2(for="types-file-location-select") Location:

                div.inline(id="types-file-location-select" data-hook="types-file-location-select")

            div.inline

              button.btn.btn-outline-primary.box-shadow(data-hook="set-particle-types-btn" disabled) Set Types

            div.mdl-edit-btn.saving-status.inline(data-hook="st-in-progress")

              div.spinner-grow.mr-2

              span(data-hook="st-action-in-progress")

            div.mdl-edit-btn.saved-status.inline(data-hook="st-complete")

              span(data-hook="st-action-complete")

            div.mdl-edit-btn.save-error-status(data-hook="st-error")

              span(data-hook="st-action-error")

        div.tab-pane(id="import-particles")

          div.card.card-body

            div.my-3

              span.inline.mr-2(for="meshfile") Please specify a mesh to import: 

              input(id="meshfile" type="file" name="meshfile" size="30" accept=".xml" required)

            div.mb-3

              span.inline.mr-2(for=typefile) Type descriptions (optional):

              input(id="typefile" type="file" name="typefile" size="30" accept=".txt")

            div

              h4.inline Advanced

              button.btn.btn-outline-collapse(data-toggle="collapse", data-target="#mesh-advanced", data-hook="collapse-mesh-advanced") +

            div.collapse(id="mesh-advanced" data-hook="mesh-advanced-container")

              div(data-hook="mesh-type-select")

              h5 Type Defaults

              table.table
                thead
                  tr
                    th(scope="col") Mass
                    th(scope="col") Volume
                    th(scope="col") Viscosity
                    th(scope="col") Fixed

                tbody
                  tr
                    td: div(data-hook="mesh-mass")
                    td: div(data-hook="mesh-volume")
                    td: div(data-hook="mesh-nu")
                    td: input(type="checkbox" data-hook="mesh-fixed" disabled)

              h5 Particle Transformations

              table.table
                thead
                  tr
                    th(scope="col") X-Axis
                    th(scope="col") Y-Axis
                    th(scope="col") Z-Axis
                tbody
                  tr
                    td: div(data-hook="mesh-x-trans")
                    td: div(data-hook="mesh-y-trans")
                    td: div(data-hook="mesh-z-trans")

            div.inline

              button.btn.btn-outline-primary.box-shadow(data-hook="import-particles-btn" disabled) Import Mesh

            div.mdl-edit-btn.saving-status.inline(data-hook="im-in-progress")

              div.spinner-grow.mr-2

              span(data-hook="im-action-in-progress")

            div.mdl-edit-btn.saved-status.inline(data-hook="im-complete")

              span(data-hook="im-action-complete")

            div.mdl-edit-btn.save-error-status(data-hook="im-error")

              span(data-hook="im-action-error")

  div.card.card-body

    div

      h3.inline Domain
    
      button.btn.btn-outline-collapse(data-toggle="collapse", data-target="#domain-plot-container", data-hook="collapse-domain-plot") -

    div.collapse.show(id="domain-plot-container" data-hook="domain-plot-container")

      div(id="domain-plot" data-hook="domain-plot" style="height: 800px")

  div.inline

    button.btn.btn-primary.box-shadow.dropdown-toggle(
      id="dave-domain",
      data-toggle="dropdown",
      aria-haspopup="true",
      aria-expanded="false",
      type="button"
    ) Save <span class="caret"></span>

    ul.dropdown-menu(aria-labelledby="save-domain")
      li.dropdown-item(data-hook="save-to-model") to Model
      li.dropdown-item(data-hook="save-to-file") to File (.domn)

  a.btn.btn-primary.box-shadow.text-break(role="button" data-hook="return-to-project") Return to Project

  a.btn.btn-primary.box-shadow.text-break(role="button" data-hook="return-to-model") Return to Model

  div.mdl-edit-btn.saving-status.inline(data-hook="sd-in-progress")

    div.spinner-grow.mr-2

    span(data-hook="sd-action-in-progress")

  div.mdl-edit-btn.saved-status.inline(data-hook="sd-complete")

    span(data-hook="sd-action-complete")

  div.mdl-edit-btn.save-error-status(data-hook="sd-error")

    span(data-hook="sd-action-error")
