section.page

  div.verticle-space-2

    h2.inline(id="page-title" data-hook="page-title")= "Project: "+this.projectName

    button.big-tip.btn.information-btn.help(id="manage-project-help" data-hook="manage-project-help") <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="question-circle" class="svg-inline--fa fa-question-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 448c-110.532 0-200-89.431-200-200 0-110.495 89.472-200 200-200 110.491 0 200 89.471 200 200 0 110.53-89.431 200-200 200zm107.244-255.2c0 67.052-72.421 68.084-72.421 92.863V300c0 6.627-5.373 12-12 12h-45.647c-6.627 0-12-5.373-12-12v-8.659c0-35.745 27.1-50.034 47.579-61.516 17.561-9.845 28.324-16.541 28.324-29.579 0-17.246-21.999-28.693-39.784-28.693-23.189 0-33.894 10.977-48.942 29.969-4.057 5.12-11.46 6.071-16.666 2.124l-27.824-21.098c-5.107-3.872-6.251-11.066-2.644-16.363C184.846 131.491 214.94 112 261.794 112c49.071 0 101.45 38.304 101.45 88.8zM298 368c0 23.159-18.841 42-42 42s-42-18.841-42-42 18.841-42 42-42 42 18.841 42 42z"></path></svg>

  div.col-md-12.col-lg-10.no-gutters-padding

    div(id="edit-models-container" data-hook="edit-models-container")

    div.verticle-space-3

      button.btn.btn-outline-primary.inline.dropdown-toggle.box-shadow(
        id="project-manager-add-model-btn",
        data-hook="add-element-btn",
        data-toggle="dropdown",
        aria-haspopup="true",
        aria-expanded="false",
        type="button"
      ) Add Model <span class="caret"></span>

      ul.dropdown-menu(aria-labelledby="project-manager-add-model-btn")
        li.dropdown-item(id="new-model" data-hook="new-model") New Model
        li.dropdown-divider
        li.dropdown-item(id="existing-model" data-hook="existing-model") Existing Model
        li.dropdown-divider
        li.dropdown-item(id="upload-file-btn" data-hook="upload-file-btn", data-type="model") Upload StochSS Model (.mdl)

    div.verticle-space(id="edit-experiments-container" data-hook="edit-experiments-container")

    div

      h3 Recent Plot

      div(id="project-most-recent-plot" data-hook="project-most-recent-plot")

    div(id="project-viewer" data-hook="project-viewer")

    div.card.card-body

      div

        h3.inline Advanced
        button.btn.btn-outline-collapse(data-toggle="collapse", data-target="#project-manager-advanced", data-hook="project-manager-advanced-btn") +

      div.collapse(id="project-manager-advanced" data-hook="project-manager-advanced")

        div(id="project-manager-file-browser" data-hook="file-browser")

        div.collapse(id="project-meta-data-container" data-hook="project-meta-data-container")

        div

          button.btn.btn-primary.inline.dropdown-toggle.box-shadow(
            id="download-project-btn",
            data-hook="download-project-btn",
            data-toggle="dropdown",
            aria-haspopup="true",
            aria-expanded="false",
            type="button"
          ) Download <span class="caret"></span>

          ul.dropdown-menu(aria-labelledby="download-project-btn")
            li.dropdown-item(id="export-project-as-zip" data-hook="export-project-as-zip") as .zip
            li.dropdown-item(id="export-project-as-combine" data-hook="export-project-as-combine") as Combine

          button.btn.btn-primary.inline.box-shadow(id="convert-project-to-combine" data-hook="convert-project-to-combine") Convert to combine

          button.btn.btn-primary.inline.box-shadow(id="empty-project-trash" data-hook="empty-project-trash") Empty Trash
      