section.page

  div.verticle-space-2

    h2.inline(id="page-title" data-hook="page-title")= "Project: "+this.projectName

  div.col-md-12.col-lg-10.no-gutters-padding

    div(id="edit-models-container" data-hook="edit-models-container")

    div.verticle-space-3

      button.btn.btn-outline-primary.inline.dropdown-toggle.box-shadow(
        id="project-manager-add-model-btn",
        data-hook="add-element-btn",
        data-toggle="dropdown",
        aria-haspopup="true",
        aria-expanded="false",
        type="button"
      ) Add Model <span class="caret"></span>

      ul.dropdown-menu(aria-labelledby="project-manager-add-model-btn")
        li.dropdown-item(id="new-model" data-hook="new-model") New Model
        li.dropdown-divider
        li.dropdown-item(id="existing-model" data-hook="existing-model") Existing Model
        li.dropdown-divider
        li.dropdown-item(id="upload-file-btn" data-hook="upload-file-btn", data-type="model") Upload StochSS Model (.mdl)

    div.verticle-space(id="edit-workflow-groups-container" data-hook="edit-workflow-groups-container")

    div

      div

        h3.inline Most Recent Plot

        button.btn.btn-outline-collapse(data-toggle="collapse", data-target="#project-most-recent-plot-container", data-hook="collapse-most-recent-plot-btn") -

      div.collapse.show(id="project-most-recent-plot-container")

        div(id="project-most-recent-plot" data-hook="project-most-recent-plot")

    div(id="project-viewer" data-hook="project-viewer")

    div.card.card-body

      div

        h3.inline Advanced
        button.btn.btn-outline-collapse(data-toggle="collapse", data-target="#project-manager-advanced", data-hook="project-manager-advanced-btn") +

      div.collapse(id="project-manager-advanced" data-hook="project-manager-advanced")

        div(id="project-manager-file-browser" data-hook="file-browser")

        div

          button.btn.btn-primary.inline.dropdown-toggle.box-shadow(
            id="download-project-btn",
            data-hook="download-project-btn",
            data-toggle="dropdown",
            aria-haspopup="true",
            aria-expanded="false",
            type="button"
          ) Download <span class="caret"></span>

          ul.dropdown-menu(aria-labelledby="download-project-btn")
            li.dropdown-item(id="export-project-as-zip" data-hook="export-project-as-zip") as .zip
            li.dropdown-item(id="export-project-as-combine" data-hook="export-project-as-combine") as COMBINE

          button.btn.btn-primary.inline.box-shadow(id="empty-project-trash" data-hook="empty-project-trash") Empty Trash

        div.collapse(id="project-meta-data-container" data-hook="project-meta-data-container")
      