div#domain-viewer.card.card-body

  div

    h3.inline Domain

    button.btn.btn-outline-collapse(data-toggle="collapse" data-target="#collapse-domain" data-hook="collapse") +

  div.collapse(id="collapse-domain" data-hook="domain-container")

    div.row

      div.col-md-4

        h4 Domain Properties

        table.table
          tbody
            tr
              th(scope="row") Density
              td=this.model.rho_0
            tr
              th(scope="row") Gravity
              td=this.model.gravity || 0
            tr
              th(scope="row") Pressure
              td=this.model.p_0
            tr
              th(scope="row") Speed of Sound
              td=this.model.c_0

      div.col-md-8

        h4 Boundary Conditions

        table.table
          thead
            tr
              th(scope="col")
              th(scope="col") Minimum
              th(scope="col") Minimum
              th(scope="col") Reflect

          tbody
            tr
              th(scope="row") X-Axis
              td=this.model.x_lim[0]
              td=this.model.x_lim[1]
              td: input(type="checkbox" checked=this.model.boundary_condition.reflect_x disabled)
            tr
              th(scope="row") Y-Axis
              td=this.model.y_lim[0]
              td=this.model.y_lim[1]
              td: input(type="checkbox" checked=this.model.boundary_condition.reflect_y disabled)
            tr
              th(scope="row") Z-Axis
              td=this.model.z_lim[0]
              td=this.model.z_lim[1]
              td: input(type="checkbox" checked=this.model.boundary_condition.reflect_z disabled)

    div

      h4 Types

      hr

      h6="Number of Un-Assigned Particles: " + this.model.types.get(0, "typeID").numParticles

      table.table
        thead
          tr
            th(scope="col") Name
            th(scope="col") Number of Particles
            th(scope="col") Mass
            th(scope="col") Volume
            th(scope="col") nu
            th(scope="col") Fixed

        tbody(data-hook="domain-types-list")

    div

      h4 Particles

      hr

      div.row

        div.col-md-9

          div(data-hook="domain-plot")

        div.col-md-3

          div(data-hook="particle-viewer")

          div.text-info(data-hook="select-particle")
            | Click on a particle to view its properties.
