div#domain-viewer.card

  div.card-header.pb-0

    h3.inline.mr-3 Domain

    div.inline.mr-3

      ul.nav.nav-tabs.card-header-tabs(id="domain-tabs")

        li.nav-item

          a.nav-link.tab.active(data-hook="domain-edit-tab" data-toggle="tab" href="#edit-domain") Edit

        li.nav-item

          a.nav-link.tab(data-hook="domain-view-tab" data-toggle="tab" href="#view-domain") View

    button.btn.btn-outline-collapse(id="-btn" data-toggle="collapse" data-target="#collapse-domain" data-hook="collapse") +

  div.collapse(id="collapse-domain" data-hook="domain-container")

    div.card-body.tab-content

      div(data-hook="external-domains-container")

        button.btn.btn-outline-secondary.box-shadow.mb-3(data-hook="select-external-domain") View External Domain

        div(data-hook="external-domain-select" style="display: none")

          div.text-info(data-hook="select-location-message" style="display: none")
            | There are multiple domain files with that name, please select a location

          span.inline Select External Domain: 

          div.inline(data-hook="select-domain")

          div.inline.ml-3(data-hook="select-domain-location" style="display: none")

            span.inline Location:

            div.inline(data-hook="select-location")

      div.row

        div.col-md-4

          h4 Domain Properties

          hr.mt-2
          div.row
            div.col-sm-6: h6.pl-2 <b>Static Domain</b>
            div.col-sm-6: input(type="checkbox" id="static-domain" data-hook="static-domain" checked=this.model.static disabled)

          hr.mt-2
          div.row
            div.col-sm-6: h6.pl-2 <b>Density</b>
            div.col-sm-6=this.model.rho_0

          hr.mt-2
          div.row
            div.col-sm-6: h6.pl-2 <b>Gravity</b>
            div.col-sm-6=this.gravity

          hr.mt-2
          div.row
            div.col-sm-6: h6.pl-2 <b>Pressure</b>
            div.col-sm-6=this.model.p_0

          hr.mt-2
          div.row
            div.col-sm-6: h6.pl-2 <b>Speed of Sound</b>
            div.col-sm-6=this.model.c_0

        div.col-md-8

          h4 Domain Limits

          hr.mt-2
          div.row.head.mx-1
            div.col-sm-3
            div.col-sm-3.pb-1: h6 <b>Minimum</b>
            div.col-sm-3: h6 <b>Minimum</b>
            div.col-sm-3: h6 <b>Reflect</b>

          div.row.mt-3
            div.col-sm-3: h6.pl-2 <b>X-Axis</b>
            div.col-sm-3=this.model.x_lim[0]
            div.col-sm-3=this.model.x_lim[1]
            div.col-sm-3: input(type="checkbox" checked=this.model.boundary_condition.reflect_x disabled)

          hr.mt-2
          div.row
            div.col-sm-3: h6.pl-2 <b>Y-Axis</b>
            div.col-sm-3=this.model.y_lim[0]
            div.col-sm-3=this.model.y_lim[1]
            div.col-sm-3: input(type="checkbox" checked=this.model.boundary_condition.reflect_y disabled)

          hr.mt-2
          div.row
            div.col-sm-3: h6.pl-2 <b>Z-Axis</b>
            div.col-sm-3=this.model.z_lim[0]
            div.col-sm-3=this.model.z_lim[1]
            div.col-sm-3: input(type="checkbox" checked=this.model.boundary_condition.reflect_z disabled)

      div.mt-3

        h4 Types

        hr

        h6="Number of Un-Assigned Particles: " + this.model.types.get(0, "typeID").numParticles

        div(data-hook="domain-error"): p.text-danger A domain cannot have any un-assigned particles.

        hr

        div.mx-1.row.head.align-items-baseline

          div.col-sm-2: h6.pl-2 <b>Name</b>

          div.col-sm-2: h6 <b>Number of Particles</b>

          div.col-sm-2: h6 <b>Mass</b>

          div.col-sm-2: h6 <b>Volume</b>

          div.col-sm-2: h6 <b>Viscosity</b>

          div.col-sm-2: h6 <b>Fixed</b>

        div(data-hook="domain-types-list")

      div.tab-pane.active(id="edit-domain" data-hook="edit-domain")

        hr

        div

          button.btn.btn-outline-primary.box-shadow(data-hook="edit-domain") Edit Domain

          button.btn.btn-outline-primary.box-shadow.ml-2(data-hook="create-domain") Build New Domain

          button.btn.btn-outline-primary.box-shadow.ml-2(data-hook="save-to-model" disabled) Import into Model

      div.tab-pane(id="view-domain" data-hook="view-domain")
