div#edit-project-workflows

  div.mx-1.row.head

  div.mt-3(id="project-workflows-list" data-hook="project-workflows-list")

  div

    button.btn.btn-outline-primary.dropdown-toggle.box-shadow(
      id="add-workflow-btn",
      data-hook="add-workflow-btn",
      data-toggle="dropdown",
      aria-haspopup="true",
      aria-expanded="false",
      type="button"
    ) Add <span class="caret"></span>

    ul.dropdown-menu(aria-labelledby="add-workflow-btn")
      li.dropdown-item(id="project-experiment-new-workflow" data-hook="project-experiment-new-workflow") New Workflow
      li.dropdown-item(id="project-experiment-add-workflow" data-hook="project-experiment-add-workflow") Existing Workflow
          
    