tr

  td: div(data-target='type-name' data-hook='type-' + this.model.typeID)

  td=this.model.numParticles

  td
    div="mass: " + this.model.mass
    div="vol: " + this.model.volume
    div="viscosity: " + this.model.nu
    div="fixed: " + this.model.fixed

  td: button.btn.btn-outline-secondary.box-shadow(data-type=this.model.typeID data-hook='edit-defaults-btn') Edit Defaults

  td: button.btn.btn-outline-secondary.box-shadow(data-type=this.model.typeID data-hook='unassign-all') Un-Assign Particles

  td
    button.btn.btn-outline-secondary.box-shadow.dropdown-toggle(
      id="delete-domain-type",
      data-toggle="dropdown",
      aria-haspopup="true",
      aria-expanded="false",
      type="button"
    ) Delete <span class="caret"></span>

    ul.dropdown-menu(aria-labelledby="delete-domain-type")
      li.dropdown-item(data-hook="delete-type" data-type=this.model.typeID) Type
      li.dropdown-item(data-hook="delete-all" data-type=this.model.typeID) Type and Particles
