div(data-hook=this.model.elementID)

  if(this.model.collection.indexOf(this.model) !== 0)
    hr

  div.row

    div.col-md-3

      button.btn.btn-outline-secondary.box-shadow(data-hook=this.model.elementID + "-open" style="width: 100%")=this.model.name

    div.col-md-4

      div.py-2=this.model.fmtStartTime

    div.col-md-3

      div.py-2

        div.inline(data-hook=this.model.elementID + "-status")=this.model.status

        div.inline.spinner-border.status(data-hook=this.model.elementID + "-running-spinner")

    div.col-md-2

      button.btn.btn-outline-secondary.box-shadow(data-hook=this.model.elementID + "-remove") X