div

  div.alert-warning(class="collapse" id="extension-warning" data-hook="extension-warning") You should avoid changing the file extension unless you know what you are doing!

  div.alert-warning(class="collapse", id="rename-warning" data-hook="rename-warning") MESSAGE

  div.alert-danger(id="renameSpecialCharError" style="display: none;") Names can only include the following characters: (0-9), (a-z), (A-Z) and (., -, _, (, or ))

  div#files-jstree

  div

    button.btn.btn-primary.inline.box-shadow(
      id="files-add-btn",
      data-hook="files-add-btn",
      data-toggle="dropdown",
      aria-haspopup="true",
      aria-expanded="false",
      type="button"
    ) <b>+</b>

    ul.dropdown-menu(aria-labelledby="files-add-btn")
      li.dropdown-item(id="new-directory" data-hook="new-directory") Create Directory
      li.dropdown-item(id="new-project" data-hook="new-project") Create Project
      li.dropdown-item(id="new-model" data-hook="new-model" data-type="model") Create Model
      li.dropdown-item(id="new-model" data-hook="new-model" data-type="spatial") Create Spatial Model (beta)
      li.dropdown-item(id="new-model" data-hook="new-domain") Create Domain (beta)
      li.dropdown-divider
      li.dropdown-item(id="upload-file-btn" data-hook="upload-file-btn" data-type="model") Upload StochSS Model
      li.dropdown-item(id="upload-file-btn" data-hook="upload-file-btn" data-type="sbml") Upload SBML Model
      li.dropdown-item(id="upload-file-btn" data-hook="upload-file-btn" data-type="file") Upload File

    button.btn.btn-primary.inline.box-shadow(id="options-for-node" data-hook="options-for-node" disabled) Actions
    
    button.btn.btn-primary.inline.box-shadow(id="refresh-jstree" data-hook="refresh-jstree") Refresh

    button.btn.btn-primary.inline.box-shadow(id="empty-trash" data-hook="empty-trash") Empty Trash
