div.mdl-edit-btn
  
  div.mdl-edit-btn.saving-status(data-hook="saving-mdl")

    div.spinner-grow

    span Saving...

  div.mdl-edit-btn.saved-status(data-hook="saved-mdl")

    span Saved
  
  button.btn.btn-primary.box-shadow(data-hook="save") Save

  button.btn.btn-primary.box-shadow.dropdown-toggle(
    id="simulate-model",
    data-toggle="dropdown",
    aria-haspopup="true",
    aria-expanded="false",
    type="button"
  ) Simulate <span class="caret"></span>

  ul.dropdown-menu(aria-labelledby="preview-options")
    li.dropdown-item(data-hook="run") Preview
    li.dropdown-divider
    li.dropdown-item(id="stochss-es" data-hook="stochss-es") Ensemble Simulation
    li.dropdown-item(id="stochss-ps" data-hook="stochss-ps") Parameter Sweep
    li.dropdown-item(data-hook="new-workflow") Jupyter Notebook
  
  button.btn.btn-primary.box-shadow(data-hook="return-to-project-btn" style="display: none;") Return to Project

  
