div#workflow-results.card.card-body

  div.head

    h3.inline.mr-2 Results

    button.btn.btn-outline-collapse.mb-1(data-toggle="collapse" data-target="#collapse-results" data-hook="collapse-results-btn") -

  div.collapse.show(id="collapse-results" data-hook="workflow-results")

    div.collapse(id="edit-plot-args" data-hook="edit-plot-args")

      table.table
        thead
          tr
            th(scope="col") Title
            th(scope="col") X-axis Label
            th(scope="col") Y-axis Label

        tbody
          tr
            td: div(id="title" data-hook="title")
            td: div(id="xaxis" data-hook="xaxis")
            td: div(id="yaxis" data-hook="yaxis")

    div.card.card-body

      div

        h5.inline Parameter Sweep

        button.btn.btn-outline-collapse(
          data-toggle="collapse"
          data-target="#collapse-ts-psweep"
          id="collapse-ts-psweep-btn"
          data-hook="collapse-ts-psweep-btn"
          data-trigger="collapse-plot-container"
          data-type="ts-psweep"
        ) -
          
      div.collapse.show(id="collapse-ts-psweep")

        div.row

          div.col-md-9

            div(data-hook="ts-psweep-plot")

            div.spinner-border.workflow-plot(data-hook="ts-psweep-plot-spinner")

            button.btn.btn-primary.box-shadow(data-hook="ts-psweep-edit-plot" data-target="edit-plot" disabled) Edit Plot

            button.btn.btn-primary.box-shadow(data-hook="multiple-plots" data-type="ts-psweep-mp" style="display: none;" disabled) Multiple Plots

            button.btn.btn-primary.box-shadow(
              data-hook="ts-psweep-download-png-custom"
              data-target="download-png-custom"
              data-type="ts-psweep"
              disabled
            ) Download PNG

            button.btn.btn-primary.box-shadow(
              data-hook="ts-psweep-download-json"
              data-target="download-json"
              data-type="ts-psweep"
              disabled
            ) Download JSON

          div.col-md-3

            div.head(data-hook="plot-type-header")

              h6 Plot Type

            div.mt-2(data-hook="plot-type-select")

            div.head

              h6 Parameters

            div.mt-2(data-hook="parameter-ranges")

    button.btn.btn-primary.box-shadow(id="job-presentation" data-hook="job-presentation") Publish Presentation

    div.saving-status(data-hook="job-action-start")

      div.spinner-grow

      span Publishing ...

    div.saved-status(data-hook="job-action-end")

      span Published

    div.save-error-status(data-hook="job-action-err")

      span Error
