div#parameter-sweep-settings-viewer.card.card-body

  div

    h3.inline Parameter Sweep Settings
    button.btn.btn-outline-collapse(data-toggle="collapse", data-target="#collapse-psweep-settings-viewer", data-hook="collapse") -

  div.collapse(class="show", id="collapse-psweep-settings-viewer")

    div(style="margin-bottom: 0.75rem;" data-hook="sweep-type-viewer")

    h5.inline Sweep Variables

    table.table
      thead
        tr
          th(scope="col") Variable
          th(scope="col") Current Value
          th(scope="col") Minimum Value
          th(scope="col") Maximum Value
          th(scope="col") Steps

      tbody
        tr
          td=this.model.parameterOne.name
          td(data-hook="p1-current-value-viewer")
          td=this.model.p1Min
          td=this.model.p1Max
          td=this.model.p1Steps
        tr.collapse(data-hook="p2-variable-viewer")
          td=this.model.parameterTwo.name
          td(data-hook="p2-current-value-viewer")
          td=this.model.p2Min
          td=this.model.p2Max
          td=this.model.p2Steps