div#reactions-editor.card.card-body

  div

    h3.inline 
      div
        div.inline Reactions

        button.btn.btn-outline-collapse(data-toggle="collapse", data-target="#collapse-reaction", id="collapse", data-hook="collapse") -

  div.collapse(class="show", id="collapse-reaction")

    p
      | Define reactions. Select from the given reaction templates, or use the custom types.  Using templated reaction types will help eliminate errors. 
      | For non-linear reactions, use the custom propensity type.

    p
      | For a species that is NOT consumed in the reaction but is part of a massaction reaction, add it as both a reactant and a product.  Mass-action reactions 
      | must also have a rate term added. Note that the inputrate represents the mass-action constant rate independent of volume.

    div.row
      div.col-md-7.container-part: table.table
        thead: tr
          th(scope="col") Edit
          th(scope="col")
           div
             div.inline Name

             div.tooltip-icon(data-html="true" data-toggle="tooltip" title=this.tooltips.name) <sup><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info" class="svg-inline--fa fa-info fa-w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path fill="currentColor" d="M20 424.229h20V279.771H20c-11.046 0-20-8.954-20-20V212c0-11.046 8.954-20 20-20h112c11.046 0 20 8.954 20 20v212.229h20c11.046 0 20 8.954 20 20V492c0 11.046-8.954 20-20 20H20c-11.046 0-20-8.954-20-20v-47.771c0-11.046 8.954-20 20-20zM96 0C56.235 0 24 32.235 24 72s32.235 72 72 72 72-32.235 72-72S135.764 0 96 0z"></path></svg></sup>
                 
          th(scope="col") Summary
          th(scope="col")
            div
              div.inline Annotation

              div.tooltip-icon(data-html="true" data-toggle="tooltip" title=this.tooltips.annotation) <sup><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info" class="svg-inline--fa fa-info fa-w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path fill="currentColor" d="M20 424.229h20V279.771H20c-11.046 0-20-8.954-20-20V212c0-11.046 8.954-20 20-20h112c11.046 0 20 8.954 20 20v212.229h20c11.046 0 20 8.954 20 20V492c0 11.046-8.954 20-20 20H20c-11.046 0-20-8.954-20-20v-47.771c0-11.046 8.954-20 20-20zM96 0C56.235 0 24 32.235 24 72s32.235 72 72 72 72-32.235 72-72S135.764 0 96 0z"></path></svg></sup>

          th(scope="col") Remove

        tbody(id="reaction-list", data-hook="reaction-list")

      div.col-md-5.container-part(id="reaction-details-container", data-hook="reaction-details-container")
      
    div.dropdown

      button.btn.btn-outline-primary.dropdown-toggle.box-shadow#addReactionBtn(
        id="add-reaction-full", data-hook="add-reaction-full",
        data-toggle="dropdown",
        aria-haspopup="true",
        aria-expanded="false",
        type="button"
      ) Add Reaction <span class="caret"></span>

      ul.dropdown-menu(aria-labelledby="addReactionBtn")
        li.dropdown-item(id="creation", data-hook="creation")
        li.dropdown-item(id="destruction", data-hook="destruction")
        li.dropdown-item(id="change", data-hook="change")
        li.dropdown-item(id="dimerization", data-hook="dimerization")
        li.dropdown-item(id="merge", data-hook="merge")
        li.dropdown-item(id="split", data-hook="split")
        li.dropdown-item(id="four", data-hook="four")
        li.dropdown-divider
        li.dropdown-item(id="custom-massaction", data-hook="custom-massaction") Custom mass action
        li.dropdown-item(id="custom-propensity", data-hook="custom-propensity") Custom propensity

    div.dropdown

      button.btn.btn-outline-primary.dropdown-toggle.box-shadow#addReactionBtn(
        id="add-reaction-partial", data-hook="add-reaction-partial",
        data-toggle="dropdown",
        aria-haspopup="true",
        aria-expanded="false",
        type="button"
      ) Add Reaction <span class="caret"></span>

      ul.dropdown-menu(aria-labelledby="addReactionBtn")
        li.dropdown-item(id="custom-propensity", data-hook="custom-propensity") Custom propensity
