div#sed-ml-plot-view.card.card-body

    div
        
        h5.inline=this.model.name
        button.btn.btn-outline-collapse(data-toggle="collapse", data-target="#collapse-"+this.model.name, data-hook="collapse-sedml-plot") -

    div.collapse(class="show" id="collapse-"+this.model.name)

        div(data-hook=this.model.name)
        button.btn.btn-primary.box-shadow(id=this.model.name data-hook="sedml-plot") Edit Plot
        button.btn.btn-primary.box-shadow(id=this.model.name data-hook="sedml-download-png-custom" disabled) Download PNG
        button.btn.btn-primary.box-shadow(id=this.model.name data-hook="sedml-download-json" disabled) Download JSON