div#settings-viewer.card.card-body

  div

    h3.editor-header Simulation Settings
    button.btn.btn-outline-collapse(data-toggle="collapse", data-target="#collapse-settings-viewer", data-hook="collapse") -

  div.row.collapse(class="show", id="collapse-settings-viewer")

    div.col-md-12(style="margin-bottom: 0.75rem;")=this.algorithm

    div.col-md-6.collapse(data-hook="deterministic")

      h5.editor-header Deterministic Settings

      table.table
        thead
          tr
            th(scope="col") Relative Tolerance
            th(scope="col") Absolute Tolerance
        tbody
          tr
            td=this.model.relativeTol
            td=this.model.absoluteTol

    div.col-md-6.collapse(data-hook="stochastic")

      h5.editor-header Stochastic Settings

      div.collapse(data-hook="SSA")

        table.table
          thead
            tr
              th(scope="col") Number of Trajectories
              th(scope="col") Seed
          tbody
            tr
              td=this.model.realizations
              td=this.model.seed

      div.collapse(data-hook="Tau")

        table.table
          thead
            tr
              th(scope="col") Number of Trajectories
              th(scope="col") Seed
              th(scope="col") Tau Tolerance
          tbody
            tr
              td=this.model.realizations
              td=this.model.seed
              td=this.model.tauTol