div#settings-viewer.card.card-body

  div

    h3.editor-header Simulation Settings
    button.btn.btn-outline-collapse(data-toggle="collapse", data-target="#collapse-settings-viewer", data-hook="collapse") -

  div.collapse(class="show", id="collapse-settings-viewer")

    table.table
      thead
        tr
          th.col-md-3-view(scope="col") Simulation Type
          th.col-md-3-view(scope="col") Time Span
          th.col-md-3-view(scope="col") Increment
          th.col-md-3-view(scope="col") Volume

      tbody
        tr
          td Stochastic
          td="0 to " + this.model.endSim
          td=this.model.timeStep
          td=this.model.volume

    p="Realizations: " + this.model.stochasticSettings.realizations

    div

      h6.editor-header Advanced Settings
      button.btn.btn-outline-collapse(data-toggle='collapse', data-target='#advanced-settings-viewer', data-hook='advanced-settings-button') +

    div(id='advanced-settings-viewer', class='collapse', data-hook='advanced-settings')

      table.table
        thead
          tr
            th(scope="col") Seed

        tbody
          tr
            td=this.model.stochasticSettings.ssaSettings.seed