tr

  td

    div(data-hook=this.model.elementID + "-sweep-target")

  td

    div(data-hook=this.model.elementID + "-target-value")=this.parameter.expression

  td

    div(data-hook=this.model.elementID + "-target-min")

  td

    div(data-hook=this.model.elementID + "-target-max")

  td

    div(data-hook=this.model.elementID + "-target-steps")

  td

    button.btn.btn-outline-secondary.box-shadow(data-hook=this.model.elementID + "-remove") X
