div

  h5 Properties

  table.table
    tbody
      tr
        th(scope="row") ID
        td=this.model.particle_id
      tr
        th(scope="row") Type
        td=this.type
      tr
        th(scope="row") Location
        td
          div="x: " + this.model.point[0]
          div="y: " + this.model.point[1]
          div="z: " + this.model.point[2]
      tr
        th(scope="row") Mass
        td=this.model.mass
      tr
        th(scope="row") Volume
        td=this.model.volume
      tr
        th(scope="row") Viscosity
        td=this.model.nu
      tr
        th(scope="row") Fixed
        td: input(type="checkbox" checked=this.model.fixed disabled)